
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;


    .button-group{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 360px;
    }

    a{
        color: white;
    }

}